html,
body{
  height: 100%;
}

body{
  background-color: #0d0d0e;
  color: $default;
  font-size: 15px;
  line-height: 22px;
  @extend %montserrat-400;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}